<%- include('../partials/header.ejs') %>
    <main>

    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>