<%- include('../partials/header.ejs') %>

    <main>
        <form id="register__form" class="edit__form" action="/auth/login" method="POST" enctype="application/x-www-form-urlencoded">
        <section class="login__wrapper">
            <label class="login__label" for="login__email">Email::</label>
            <input type="text" name="login__email" id="login__email" />
        </section>
        <section class="login_wrapper">
            <label class="login__label" for="login__password">password:</label>
            <input type="password" name="login__password" id="login__password" />
        </section>
        <section class="login_wrapper">
            <input type="submit" value="Ingresar" />
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>