<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link href="../../css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="./index.html">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="isologotipo de la marca FUNKOSHOP">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a class="navbar__link" href="/shop">VER TIENDA</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/admin">ADMIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="">SALIR</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="register">
        <h1>CREA TU CUENTA</h1>
        <p>Completa el formulario para ser parte del mundo de los funkos.</p>
        <form id="register__form" class="edit__form" action="/auth/register_success" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="register__wrapper">
            <label class="form__register--label" for="register__name">Nombre:</label>
            <input type="text" class="form__input" name="register__name" />
        </div>
            <div class="register__wrapper">
            <label class="form__register--label" for="register__lastname">Apellido:</label>
            <input type="text" class="form__input" name="register__lastname" />
        </div>
            <div class="register__wrapper">
            <label class="form__register--label" for="register__email">Email:</label>
            <input type="text" class="form__input" name="register__email" />
        </div>
            <div class="register__wrapper">
            <label class="form__register--label" for="register__password">Contraseña:</label>
            <input type="password" class="form__input" name="register__password" />
        </div>
            <div class="register__wrapper">
            <label class="form__register--label" for="register__repite_password">Repite Contraseña:</label>
            <input type="password" class="form__input" name="register__repite_password" />
            </div>
            <div class="register__wrapper">
                <input type="submit" id="register__submit" value="Registrarse" />
                <input type="checkbox" id="register__checkbox" />
                <label for="register__checkbox">Acepto términos y condiciones</label>
            </div>
            <div class="register__wrapper">
                <label class="form__register--label" id="register__error"></label>
            </div>
        </form>
    </main>
    <footer class="footer">
        <nav class="navbar container">
            <ul class="navbar__item">
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/shop/shop.html">SHOP</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="/pages/admin/register.html">REGISTRARSE</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/admin/login.html">INGRESAR</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/contact.html">CONTACTO</a>
                </li>
            </ul>
            <picture>
                <img src="../../img/branding/isotype.svg" alt="isologotipo de la marca FUNKOSHOP">
            </picture>
        </nav>
        <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script>
        let checked = document.getElementById("register__checkbox");
        let info = document.getElementById("register__error");
        document.getElementById("register__form").addEventListener("submit", function(event){

            if(checked.checked){

                let arregloDeInputs = document.getElementsByClassName("form__input");

                let correcto = Array.from(arregloDeInputs).every(element => 
                    element.value.trim() !== "");
                if(!correcto){
                    info.innerText = "Debe rellenar todos los campos";

                    event.preventDefault();
                }else{
                    if(arregloDeInputs[4].value == arregloDeInputs[3].value){
                        
                    }else{
                        event.preventDefault();
                    }
                }
            }else{
                event.preventDefault();
            }
        });
    </script>
</body>
</html>